#listings {
    width: 86%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#listings>div>div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.no-cars {
    margin: auto;
    font-size: 70px;
}
